@keyframes zoom-in {
    0% {
        transform: scale(100%)
    }
    
    10% {
        transform: scale(80%)
    }
    
    100% {
        transform: scale(150%);
    }
}

.zoom-in {
    animation: zoom-in 500ms ease;
    transform: scale(150%);
    font-weight: bold;
    z-index: 1;
}

@keyframes zoom-out {
    0% {
        transform: scale(150%)
    }
    
    100% {
        transform: scale(100%)
    }
}

.zoom-out {
    animation: zoom-out 500ms ease;
    transform: scale(100%);
    font-weight: normal;
    z-index: -1;
}

@keyframes appear {
    0% {
        opacity: 0%
    }

    90% {
        opacity: 0%
    }

    95% {
        opacity: 90%
    }

    100% {
        opacity: 100%
    }
}

.App {
    background-color: black;
    min-height: 100%;
}

.footer {
    background-color: black;
    color: white;
    font-size: .75em;
    height: 3em;
}

.Intro-overlay {
    background: url("../wasteland-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 800px;
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding-top: 20%;
}

.Intro-overlay a {
    color: white;
}
.Home {
    background-image: url("../background_concept_comic_wasteland_by_odinservant1_d78tj72.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1000px;
    animation: appear 500ms linear;
}

.About {
    color: white;
    text-align: center;
    padding: 1em;
    height: 100%;
    animation: appear 1s ease;
}

.main-display {
    display: grid;
    grid-template-rows: 1fr auto auto auto auto;
    grid-template-columns: 1fr 3fr;
}

.Dojo {
    display: grid;
    grid-template: auto 200px 2fr 1fr/ 80px 1fr 1fr 80px;
    grid-row: 5;
    grid-column: 1 / 3;
    background-image: url("../Dojo Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    animation: appear 500ms linear;
}

.stage {
    display: grid;
    grid-area: 2 / 1 / 5 / 5;
}

.stage img {
    width: 70%;
}

.battleStats {
    display: flex;
    grid-area: 1 / 1 / 2 / 6;
    justify-content: space-around;
    height: 5em;
    background-color: black;
    opacity: 75%;
    color: red;
}

.countdown {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.intro-1 {
    animation: appear 1s linear;
}

.intro-2 {
    animation: appear 2s linear;
}

.intro-3 {
    animation: appear 3s linear;
    color: rgb(171, 10, 10)
}

.intro-4 {
    animation: appear 3s linear;
}


.hidden {
    display: none;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: black;
    opacity: 75%;
    color: white;
    border: 2px solid blanchedalmond;
    margin: 0 2%;
}

header a {
    text-decoration: none;
    opacity: 100%;
    color: white;
}

nav {
    list-style: none;
}



.greeting {
    grid-row: 1;
    grid-column: 1 / 3;
    margin: 0 10%;
    height: auto;
}

.search-form {
    display: flex;
    grid-row: 2;
    grid-column: 1 / 3;
    justify-content: space-evenly;
    opacity: 75%;
    width: 100%;
    border: 5px, solid blanchedalmond;
}

.game-message {
    display: flex;
    grid-row: 3;
    grid-column: 1 / 3;
    justify-content:space-evenly;
    width: 100%px;
    margin: 0 25%;
    text-align: center;
}

.kanji-card-display {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-row: 4;
    grid-column: 1 / 4;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.kanji-card {
    display: block;
    grid-column: 1;
    padding-left: 8%;
    color: black;
    font-size: 60px;
    background: url("../old_paper_stock_02_by_ftourini_d48ubt0.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5% 5% 5% 30%;
    height: 100px;
    width: 90px;
    cursor: pointer;
}

.kanji-details {
    display: flexbox;
    grid-template-columns: 1fr 1fr;
    grid-column: 2;
    grid-row: 4;
    justify-content: center;
    text-align: center;
    height: auto;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid black;
    margin: 3% 10% 10% 10%;
}

a {
    text-decoration: none;
}

@keyframes attack {
    0% {transform: scale(0%)}
    1% {transform: rotate(1deg)}
    50% {transform: rotate(1550deg)}
    80% {transform: scale(200%)}
    100% {transform: rotate(0deg)}
}

.attack {
    animation: attack 1s ease;
}


@keyframes defend {
    0% {transform: scale(100%)}
    50% {transform: scale(50%)}
    75% {transform: scale(25%)}
    100% {transform: scale()100%}
}

.defend {

    animation: defend 1s ease;
}

@keyframes winner {
    0% {transform: scale(100%)}
    100% {transform: scale(150%)}
}

.winner {
    transform: scale(150%);
    animation: winner 1s ease;
}

@keyframes loser {
    0% {transform: scale(100%)}
    100% {transform: scale(10%)}
}

.loser {
    transform: scale(10%);
    animation: loser 1s ease;
}

.kanji-1 {
    display: flex;
    grid-area: 3 / 2 / 4 / 3;
    justify-content: center;
}

.kanji-2 {
    display: flex;
    grid-area: 3 / 3 / 4 / 4;
    justify-content: center;
}


.kanji-details .button-1 {
    margin: 5%;
    background-color: rgb(248, 151, 248);
}

.kanji-details .button-2 {
    margin: 5%;
    background-color: rgb(239, 238, 138);
}

.kanji-details audio, .kanji-details video {
    grid-column: 2 / 3;
}

.kanji-details video {
    size: 80%;
    margin: 10%;
}

.fight-button {
    background-color: red;
    font-size: 3em;
}

.countdown {
    background-color: white;
    font-size: 1.5em;
    width: 5em;
}


/* Media queries */

@media screen and (min-width: 460px) {
    .Intro-overlay {
        font-size: 2em;
    }
}

@media scree and (min-width: 750px) {

}