.App {
    background-color: black;
    min-height: 800px;
}

.footer {
    background-color: black;
    color: white;
    font-size: .75em;
}

.Home {
    background-image: url("/j-lee-LYBSBjGo-5s-unsplash.jpg");
    background-size: contain;
    min-height: 1000px;
    animation: appear 500ms linear;
}

.about {
    color: white;
    text-align: center;
    padding: 1em;
}

@keyframes appear {
    0% {
        opacity: 0%
    }

    90% {
        opacity: 0%
    }

    95% {
        opacity: 90%
    }

    100% {
        opacity: 100%
    }
}

.intro-1 {
    animation: appear 1s linear;
}

.intro-2 {
    animation: appear 2s linear;
}

.intro-3 {
    animation: appear 3s linear;
    color: rgb(171, 10, 10)
}

.intro-4 {
    animation: appear 3s linear;
}

.intro-overlay {
    background: url("/wasteland-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    color: white;
    text-align: center;
    font-size: 1.75em;
    padding-top: 20%;
}

.hidden {
    display: none;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: black;
    opacity: 75%;
    color: white;
    border: 2px solid blanchedalmond;
    width: 100%;
}

header a {
    text-decoration: none;
    opacity: 100%;
    color: white;
}

nav {
    list-style: none;
}

.greeting {
    margin: 0 10%;
}

.main-display {
    display: grid;
    grid-template-rows: 2fr auto;
}

.search-form {
    display: flex;
    justify-content: space-evenly;
    opacity: 75%;
    width: 100%;
    border: 5px, solid blanchedalmond;
}

.game-message {
    display: flex;
    justify-content: space-evenly;
    width: 100%px;
    margin-left: 20px;
    text-align: center;
}

.kanji-card-display {
    display: inline-block;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.kanji-card {
    display: inline-block;
    text-align: center;
    color: black;
    border: 2px solid black;
    font-size: 60px;
    background-color: blanchedalmond;
    margin: 5% 5% 5% 20%;
    height: 100px;
    width: 90px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.kanji-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: center;
    height: 400px;
    background-color: blanchedalmond;
    border: 2px solid black;
    margin: 3% 10% 10% 10%;
}

.kanji-details .button-1 {
    margin: 5%;
    background-color: rgb(248, 151, 248);
}

.kanji-details .button-2 {
    margin: 5%;
    background-color: rgb(239, 238, 138);
}

.fight-button {
    background-color: red;
    font-size: 1.5em;
    margin: .5em 0;
}

@keyframes zoom-in {
    0% {
        transform: scale(100%)
    }

    10% {
        transform: scale(80%)
    }

    100% {
        transform: scale(150%)
    }
}

.zoom-in {
    animation: zoom-in 500ms ease;
    transform: scale(150%);
    font-weight: bold;
}

@keyframes zoom-out {
    0% {
        transform: scale(150%)
    }

    100% {
        transform: scale(100%)
    }
}

.zoom-out {
    animation: zoom-out 500ms ease;
    transform: scale(100%);
    font-weight: normal;
}