.App {
    background-color: black;
    height: 1000px;
}

@keyframes appear {
    0% {opacity: 0%}
    90% {opacity: 0%}
    95% {opacity: 90%}
    100% {opacity: 100%}
  }

.intro-1 {
    animation: appear 1s linear;
}

.intro-2 {
    animation: appear 2s linear;
}

.intro-3 {
    animation: appear 3s linear;
    color: rgb(171, 10, 10)
}

.intro-4 {
    animation: appear 3s linear;
}

.intro-overlay {
    background: url("/wasteland-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 1em;
    padding: 20px
}

.hidden {
    display: none;
}

.Home {
    display: grid;
    grid-template: 100px auto / 100px auto 100px;;
    background: url("/j-lee-LYBSBjGo-5s-unsplash.jpg");
    background-size: contain;
    height: 1000px;
}

header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    background-color: black;
    color: white;
    border: 2px solid blanchedalmond;
    width: 100%;
}

header h1 {
    grid-column: 1;
}
nav {
    grid-column: 2;
}

.main-display {
    display: grid;
    grid-row: 80px, 800px, auto;
    width: 100%;
    height: 100%;
}

.search-form {
    background-color: black;
    height: 75px;
    padding: 5px;
    margin: 10px;
    border: 2px, solid blanchedalmond;
}

.kanji-card-display {
    display: flex;
    align-items: flex-start;
}

.kanji-card{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    font-size: 25px;
    background-color: blanchedalmond;
    margin: 5px;
    height: 100px;
    width: 100px;
    cursor: pointer;
  }

  @keyframes zoom-in {
    0% {transform: scale(100%)}
    15% {transform: scale(80%)}
    100%{transform: scale(300%)}
  }

  .zoom-in {
    animation: zoom-in 500ms ease;
    transform: scale(300%);
  }

  @keyframes zoom-out {
    0% {transform: scale(300%)}
    100%{transform: scale(100%)}
  }

  .zoom-out {
    animation: zoom-out 500ms ease;
    transform: scale(100%);
  }